@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh; /* altura total do navegador  */
    width: 100vw; /* largura total do navegador  */
}

body {
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover; /* para cobrir a tela inteira  */
    background-attachment: fixed;
}

main {
    position: relative; /* centralizado  */
    height: 100vh;
    
}

section#telefone {
    position: absolute; /* para centralizar  */
    top: 50%; /* posiciona o pixel 1  */
    left: 50%; /* posiciona o pixel 1  */
    transform: translate(-50%, -50%); /* faz o recúo para deixa a imagem no centro  */
    

    height: 627px; /* no gimp tem o tamanho da imagem  */
    width: 311px;
    background-color: aquamarine;
    background: url(../imagens/frame-iphone.png) no-repeat;
}

iframe#tela {
    position: relative;
    top: 80px;px;
    left: 22px;
    width: 268px;
    height: 472px;
}

section#redes-sociais {
    text-align: right; /* icones ao lado direito da tela  */
}

section#redes-sociais img {
    width: 50px; /* tamanho dos logo redes sociais  */
    margin: 10px; /* espaçamento entre os logos  */
    border-radius: 50%; /* deixando os logos redondos  */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.425);
    box-sizing: border-box; /* deixa a borda dentro do icone  */
}

section#redes-sociais img:hover { /* movimentos dos icones  */
    border: 2px solid rgba(255, 255, 255, 0.616); /* borda nos icones  */
    transform: translate(-3px, -3px);/* movimento dos icones  */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.63);/* sombra dos icones  */
    transition: transform .3s, border .3s ;/* tempo de movimento do icones  */
   

}